<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="shadow">
        <div class="width-wrap">
            <div id="menu-top">
                @if (!string.IsNullOrEmpty(ViewBag.UserEmail))
                {
                    @ViewBag.UserEmail
                    @Html.ActionLink("Изход", "Logout", "Main", new { id = "logout-button" })
                }
                else
                {
                    @Html.ActionLink("Вход в акаунт", "Login", "Main")
                }
            </div>

            <div id="header">
                <a href="@Url.Action("Index", "Main")">
                    <img src="@Url.Content("~/Images/logo_bg.png")" alt="" class="logo" />
                </a>
            </div>

            <div id="menu-main">

                <div class="cl">
                    <div class="cr">
                        <ul>
                            <li>
                                <div>
                                    @Html.ActionLink("Министерство", "About", "Main")
                                </div>
                            </li>
                            <li>
                                <div>
                                    @Html.ActionLink("Фотогалерия", "Gallery", "Main")
                                </div>
                            </li>
                            <li>
                                <div>
                                    @Html.ActionLink("Документи", "ClientDocuments", "Main")
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @RenderBody()
            
        </div>
    </div>
    <div id="footer" class="blend">
        <img border="0" src="@Url.Content("~/Images/banner-32-2-4329.jpg")" alt="Оперативна програма " Иновации и конкурентоспособност" 2014-2020" class="PR3" />
        <div class="clear1">&nbsp;</div>
        <div id="contacts">
            <span class="title">Контакти:</span> <span>София 1052</span> <span>ул. "Славянска" 8</span> <span>тел. центр.: +359 2 9407001</span> <span><a href="mailto:e-docs@mi.government.bg">e-docs@mi.government.bg</a></span>
            <div><span class="title">Последвайте ни:</span> Фейсбук<span> <a title="Последвайте ни във Фейсбук" href="https://www.facebook.com/economicministrybg/" target="_blank"> <img longdesc="https://www.facebook.com/economicministry" src="@Url.Content("~/Images/fb.jpg")" alt="Профил на Министерство на икономиката" width="16" height="16" /></a></span> Туитър<span> <a title="Последвайте ни в Туитър" href="https://twitter.com/MoEBulgaria" target="_blank"> <img longdesc="https://www.facebook.com/economicministry" src="@Url.Content("~/Images/twitter.jpg")" alt="Профил на Министерство на икономиката" width="16" height="16" /></a></span></div>
        </div>
    </div>
</body>
</html>
