<div class="forPrint">
    <div id="page">
        <div id="pageMainContentContainer">
            <div id="pageLeftNavigationContainer">
                <div class="col1">
                    <div id="side-menu">
                        <ul>
                            <li class="active">
                                <div>

                                    <a href="#">За министерството</a>
                                </div>
                                <ul>
                                    <li class="active">
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/about-us-1.html">За нас</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/mission-6.html">Мисия и цели</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/history-5.html">История</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/departments-0.html">Структура</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/themes-c380.html">Бюджет и отчети 2020 г.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/themes-c365.html">Бюджет и отчети 2019 г.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/themes-c361.html">Бюджет и отчети 2018 г.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/themes-c360.html">Бюджет и отчети 2017 г.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/byudjet-na-mi-za-2017-g-v-programen-format-42.html">Бюджет</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/themes-c323.html">Открито управление</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="#">Кариери</a>
                                        </div>
                                        <ul>
                                            <li>
                                                <div>
                                                    <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                                    <a href="/bg/pages/kak-da-kandidatstvame-miet-54.html">Как да кандидатстваме за работа в МИ</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                                    <a href="/bg/careers-1.html">Обяви за конкурси</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                                    <a href="/bg/themes-c248.html">Резултати от конкурсите</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                                    <a href="/careers/applications/form/lang/bg">Стажантска програма</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div>

                                    <a href="/bg/teams-minister-1/emil-karanikolov-41.html">Министър</a>
                                </div>
                            </li>
                            <li>
                                <div>

                                    <a href="/bg/teams-cabinet-1.html">Политически кабинет</a>
                                </div>
                            </li>
                            <li>
                                <div>

                                    <a href="#">Консултативен съвет за индустриална стабилност и растеж</a>
                                </div>
                                <ul>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/about-council-industrial-stability-75.html">За Съвета</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/structure-council-industrial-stability-76.html">Структура</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/dneven-red-council-77.html">Дневен ред на заседанията</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/protocols-council-78.html">Протоколи от заседанията</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div>

                                    <a href="#">Нормативни документи</a>
                                </div>
                                <ul>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/library-c26.html">Постановления</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/library-c78.html">Наредби</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/library-c25.html">Закони</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/library-c79.html">Правилници</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/library-c80.html">Директиви и регламенти</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/library-c28.html">Заповеди и актове</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div>

                                    <a href="#">Връзки</a>
                                </div>
                                <ul>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/second-level-spending-units-56.html">Второстепенни разпоредители</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/drujestva-s-darjavno-uchastie-36.html">Дружества с държавно участие</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                            <a href="/bg/pages/links-institutions-57.html">Институции</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @section JavaScript
                   {
                        
                    <script type="text/javascript">
                        $ = jQuery;
                        //<![CDATA[
                        $(document).ready(function () {
                            $('div#side-menu a').each(function () {
                                if ($(this).attr('href') == '#') {
                                    var iUl = $(this).parent().next('ul:eq(0)');
                                    if ($(this).parents('li:eq(0)').hasClass('active')) {
                                        iUl.show();
                                    } else {
                                        iUl.hide();
                                    }
                                    $(this).click(function () {
                                        iUl.toggle();
                                        return false;
                                    });
                                }
                            });
                        });

                        jQuery(document).ready(function () {
                            jQuery('div.gallery div.tab').click(function () {
                                jQuery('div.gallery div.tab').removeClass('active');
                                jQuery(this).addClass('active');
                                switch (jQuery(this).attr('id')) {
                                    case 'tabGallery':
                                        jQuery('#contentVideo').hide();
                                        jQuery('#contentGallery').show();
                                        jQuery('div.gallery a.all').attr('href', '/bg/galleries-1.html');
                                        break;
                                    case 'tabVideo':
                                        jQuery('#contentGallery').hide();
                                        jQuery('#contentVideo').show();
                                        jQuery('div.gallery a.all').attr('href', '/bg/videos.html');
                                        break;
                                }
                            });
                            jQuery('#cycleGallery').cycle({
                                fx: 'scrollHorz',
                                prev: '#prevGallery',
                                next: '#nextGallery',
                                timeout: 0,
                                containerResize: 1,
                            });
                        });
                        //]]>
                    </script>
                        }
                    <div class="highlights">
                        <div class="title-4">Новини</div>
                        <div class="row">
                            <div class="date">28 ноември 2019</div>
                            <a href="/bg/news/zamestnik-ministar-ivanova-prez-2020-g-shte-zarabotyat-oshte-3-fonda-za-dyalovi-investicii-s-razmer-na-p-3852.html?p=eyJ0eXBlIjoiaG90In0=">Заместник-министър Иванова: През 2020 г. ще заработят още 3 фонда за дялови инвестиции с размер на публичните средства по ОПИК от около 85 млн. лв.</a>
                        </div>
                        <div class="row">
                            <div class="date">27 ноември 2019</div>
                            <a href="/bg/news/zam-ministar-borisov-uchastva-v-otbelyazvaneto-na-50-g-balgarsko-kiselo-mlyako-v-yaponiya-3850.html?p=eyJ0eXBlIjoiaG90In0=">Зам.-министър Борисов участва в отбелязването на 50 г. българско кисело мляко в Япония</a>
                        </div>
                        <div class="row">
                            <div class="date">25 ноември 2019</div>
                            <a href="/bg/news/zam-ministar-borisov-stoinostta-na-razresheniya-iznos-i-izhodyasht-transfer-v-otbranitelnata-industriya-3848.html?p=eyJ0eXBlIjoiaG90In0=">Зам.-министър Борисов: Стойността на разрешения износ и изходящ трансфер в отбранителната индустрия за първите 10 месеца на 2019 г. е около 850 милиона евро</a>
                        </div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/news.html">още от рубриката</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1">&nbsp;</div>
                    </div><div class="gallery">
                        <div id="tabGallery" class="tab active">фотогалерия</div>
                        <div id="tabVideo" class="tab">видео</div>
                        <a href="/bg/galleries-1.html" class="all">Всички</a>
                        <div id="contentVideo" class="content" style="display: none;">
                            <div class="left">&nbsp;</div>
                            <a href="/bg/video-219.html"><img src="@Url.Content("~/files/videos/image/listV_video-219-5793.png")" alt="" class="clear" /></a>
                            <div class="linkVideo"><a href="/bg/video-219.html">Министър Караниколов: По-важно е да работим за увеличаването на доходите</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pageRightContentContainer">
                <div class="col2">


                    <div class="title-1">За нас</div>
                    <div class="separator-1">&nbsp;</div>
                    <div class="contentColumn" id="description">
                        <p style="text-align: justify;"><strong>Ефективност, прозрачност, полза за бизнеса и потребителите</strong>. Това са трите принципа, на които основаваме дейността си.</p>
                        <p style="text-align: justify;">Нашият главен приоритет е да създадем условия за траен икономически растеж в Република България и да осъществяваме законосъобразно и целесъобразно икономиката на страната. Поставяме цели, които водят към конкурентоспособна икономика с висока добавена стойност и по-добър стандарт на живот на хората в България.</p>
                        <p style="text-align: justify;">Фундаментите на <strong>икономическото развитие</strong> на страната са устойчиво производство, повишена производителност и конкурентоспособност, основана на нови технологии, иновации и модерни индустриални политики.  Развиваме традиционни сектори и сектори на бъдещето с потенциал за глобален растеж, за да създадем устойчиви индустриални клъстери. Създаваме среда за инвестиции с по-малко бюрокрация, лесни и прозрачни процедури за бизнеса, ефективно управление в полза на предприемачите.</p>
                        <p style="text-align: justify;">Ефективното <strong>външноикономическо сътрудничество</strong> също е съществена част от политиките на министерството в подкрепа на стабилния икономически растеж на страната.</p>
                        <p style="text-align: justify;"><a href="bg/pages/reglament-2016-158.html" target="_blank"><strong><em>Министерство на икономиката </em>(МИ)</strong> е Администратор на лични данни по смисъла на член 4, т.7 от Регламент № 2016/679 на Европейския парламент и на Съвета от 27 април 2016 г. относно защитата на физическите лица във връзка с обработването личните данни</a></p>
                    </div>
                </div>
                <div class="col3">

                    <div class="box-1 docs">
                        <div class="title-arrow">Свързани документи</div>
                        <ul class="importantFiles">
                            <li>
                                <a href="/library/index/download/lang/bg/fileId/440">
                                    Банкови сметки на Министерството на икономиката
                                </a>
                            </li>
                            <li>
                                <a href="/library/index/download/lang/bg/fileId/385">
                                    Органиграма
                                </a>
                            </li>
                            <li>
                                <a href="/library/index/download/lang/bg/fileId/364">
                                    Устройствен правилник на Министерството на икономиката
                                </a>
                            </li>
                            <li class='hidden'>
                                <a href="/library/index/download/lang/bg/fileId/273">
                                    България в СТО
                                </a>
                            </li>
                            <li class='hidden'>
                                <a href="/library/index/download/lang/bg/fileId/590">
                                    Тарифа за  таксите, които се събират по Закона за контрол върху наркотичните вещества и прекурсорите
                                </a>
                            </li>
                            <li class='hidden'>
                                <a href="/library/index/download/lang/bg/fileId/139">
                                    Регламент (ЕО) № 800/2008 на Комисията от 6 август 2008 г. относно деклариране на някои категории помощи за съвместими с общия пазар в приложение на членове 87 и 88 от Договора (Общ регламент за групово освобождаване)
                                </a>
                            </li>
                            <li class='hidden'>
                                <a href="/library/index/download/lang/bg/fileId/335">
                                    Постановление №118 на МС от 08.06.1995 г. за одобряване на Тарифа за таксите, които се събират в системата на Министерството на икономиката, енергетиката и туризма по Закона за държавните такси
                                </a>
                            </li>
                            <li class='hidden'>
                                <a href="/library/index/download/lang/bg/fileId/493">
                                    Регламент за изпълнение (ЕС) № 1165/2012 на Комисията от 7 декември 2012 година за изменение на приложение I към Регламент (ЕО) № 517/94 на Съвета относно общите правила за внос на текстилни продукти от някои трети страни, които не са обхванати от двустра
                                </a>
                            </li>
                            <li class='hidden'>
                                <a href="/library/index/download/lang/bg/fileId/571">
                                    Регламент (ЕС) № 1259/2013 на Европейския парламент и на съвета от 20 ноемвро 2013 година за изменение на Регламент (ЕО) № 111/2005 на Съвета за определяне на правила за мониторинг на търговията между Общността и трети страни в областта на прекурсорите.
                                </a>
                            </li>
                        </ul>
                        <div class="butt-1 right">
                            <div class="cr">
                                <div>
                                    <a href="javascript:;" id="showAllFiles">всички</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear2">&nbsp;</div>
                    </div>
                    <div class="clear2">&nbsp;</div>

                    <div class="box-1 forms">
                        <img width="15" height="41" class="left" alt="" src="@Url.Content("~/themes/default/images/icons/paperclip.gif")" />
                        <div class="title-2">Формуляри</div>
                        <ul class="filesForms">
                            <li><a href="/library/index/download/lang/bg/fileId/315">Заявление за включване в база данни на кандидатите за участие в международни процедури на НАТО</a></li>
                        </ul>

                        <div class="clear2">&nbsp;</div>
                    </div>
                    <div class="clear2">&nbsp;</div>
                    <div class="box-3 ">
                        <div class="title-2">Регистри</div>
                        <ul class="registersWidget">
                            <li>
                                <a href="/bg/themes/publichen-registar-na-proizvoditelite-vnositelite-i-licata-koito-vavejdat-na-teritoriyata-na-stranat-2036-395.html">
                                    Публичен регистър на производителите, вносителите и лицата, които въвеждат на територията на страната от друга държава - членка на Европейския съюз, на електронни цигари и/или контейнери за многократно пълнене
                                </a>
                                <div class="separator-1">&nbsp;</div>
                            </li>
                            <li>
                                <a href="/bg/themes/publichen-registar-na-poluchilite-udostovereniya-za-deinosti-s-destilacionni-saorajeniya-po-zakona-za-v-1843-395.html">
                                    Публичен регистър на получилите удостоверения за дейности с дестилационни
                                    съоръжения по Закона за виното и спиртните напитки
                                </a>
                                <div class="separator-1">&nbsp;</div>
                            </li>
                            <li>
                                <a href="/bg/themes/registar-na-proizvoditelite-na-etilov-alkohol-ot-zemedelski-proizhod-destilati-i-spirtni-napitki-po-606-395.html">
                                    Регистър на производителите на етилов алкохол от земеделски произход, дестилати и спиртни напитки по Закона за виното и спиртните напитки
                                </a>
                                <div class="separator-1">&nbsp;</div>
                            </li>
                        </ul>
                        <div class="clear2"></div>
                    </div>
                    <div class="box-2 contacts">
                        <div class="title">Пишете ни</div>
                        <div class="butt-2 left">
                            <div class="cr">
                                <div>
                                    <a href="mailto:e-docs@mi.government.bg">e-docs@mi.government.bg</a>
                                </div>
                            </div>
                        </div>

                        <div class="text">
                            Министерство на икономиката<br />
                            ул. "Славянска" № 8<br />
                            ЕИК 176789453
                        </div>

                        <div class="butt-2 left">
                            <div class="cr">
                                <div>
                                    тел. централа: +359 2 940 7001
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div><br />
                        <div class="butt-2 left">
                            <div class="cr">
                                <div>
                                    факс: +359 2 9872190; 02 9819970
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="clear3">&nbsp;</div>
            </div>
        </div>

    </div>
</div>

