<div id="page">
    <div id="pageMainContentContainer">
        <div id="pageLeftNavigationContainer">
            <div class="col1">
                <div class="title-1">Фотогалерия</div>
                <div class="separator-1">&nbsp;</div>
                <a class="lightbox" href="@Url.Content("~/Images/list_file-893-2910.jpg")">
                    <img src="@Url.Content("~/Images/list_file-893-2910.jpg")" width="150" height="100" alt="" />
                </a>
                <a class="lightbox" href="@Url.Content("~/Images/list_file-894-2911.jpg")">
                    <img src="@Url.Content("~/Images/list_file-894-2911.jpg")" width="150" height="100" alt="" />
                </a>
                <a class="lightbox" href="@Url.Content("~/Images/list_file-895-2912.jpg")">
                    <img src="@Url.Content("~/Images/list_file-895-2912.jpg")" width="150" height="100" alt="" />
                </a>
                <a class="lightbox" href="@Url.Content("~/Images/list_file-896-2913.jpg")">
                    <img src="@Url.Content("~/Images/list_file-896-2913.jpg")" width="150" height="100" alt="" />
                </a>
                <a class="lightbox" href="@Url.Content("~/Images/list_file-897-2914.jpg")">
                    <img src="@Url.Content("~/Images/list_file-897-2914.jpg")" width="150" height="100" alt="" />
                </a>
            </div>
            <div class="col2">
                <div class="title-1">Събития</div>
                <div class="separator-1">&nbsp;</div>
                <div class="box-2 calendar">
                    <div class="title">Предстоящи събития</div>
                    <!--<div class="butt-2 left"><div class="cr"><div>
                </div></div></div>-->
                    <div class="clear1"></div>
                    <div class="text">
                        <span style="color:#fff">18.11.2019</span><br />
                        <a href="/bg/calendar-news-view/regionalni-konsultacii-za-podgotovkata-na-nacionalna-strategiya-za-malkite-i-srednite-predpriyatiya-za-3842-1.html">
                            Регионални консултации за подготовката на Национална стратегия за малките и средните предприятия за периода 2021-2027 г.
                        </a>
                    </div>
                    <div class="clear1"></div>
                </div><div class="box-3 ">
                    <div class="title-2">Регистри</div>
                    <ul class="registersWidget">
                        <li>
                            <a href="/bg/themes/publichen-registar-na-proizvoditelite-vnositelite-i-licata-koito-vavejdat-na-teritoriyata-na-stranat-2036-395.html">
                                Публичен регистър на производителите, вносителите и лицата, които въвеждат на територията на страната от друга държава - членка на Европейския съюз, на електронни цигари и/или контейнери за многократно пълнене
                            </a>
                            <div class="separator-1">&nbsp;</div>
                        </li>
                        <li>
                            <a href="/bg/themes/publichen-registar-na-poluchilite-udostovereniya-za-deinosti-s-destilacionni-saorajeniya-po-zakona-za-v-1843-395.html">
                                Публичен регистър на получилите удостоверения за дейности с дестилационни
                                съоръжения по Закона за виното и спиртните напитки
                            </a>
                            <div class="separator-1">&nbsp;</div>
                        </li>
                        <li>
                            <a href="/bg/themes/registar-na-proizvoditelite-na-etilov-alkohol-ot-zemedelski-proizhod-destilati-i-spirtni-napitki-po-606-395.html">
                                Регистър на производителите на етилов алкохол от земеделски произход, дестилати и спиртни напитки по Закона за виното и спиртните напитки
                            </a>
                            <div class="separator-1">&nbsp;</div>
                        </li>
                    </ul>
                    <div class="clear2"></div>
                </div>
                <div class="box-2 contacts">
                    <div class="title">Пишете ни</div>
                    <div class="butt-2 left">
                        <div class="cr">
                            <div>
                                <a href="mailto:e-docs@mi.government.bg">e-docs@mi.government.bg</a>
                            </div>
                        </div>
                    </div>

                    <div class="text">
                        Министерство на икономиката<br />
                        ул. "Славянска" № 8<br />
                        ЕИК 176789453
                    </div>

                    <div class="butt-2 left">
                        <div class="cr">
                            <div>
                                тел. централа: +359 2 940 7001
                            </div>
                        </div>
                    </div>
                    <div class="clear1"></div><br />
                    <div class="butt-2 left">
                        <div class="cr">
                            <div>
                                факс: +359 2 9872190; 02 9819970
                            </div>
                        </div>
                    </div>
                    <div class="clear1"></div>
                </div>
            </div>

        </div>
        <div class="clear3">&nbsp;</div>
    </div>

</div>

