<div id="page">
    <div id="pageMainContentContainer">
        <div id="pageLeftNavigationContainer">
            <div class="col1">
                <div id="side-menu">
                    <ul>
                        <li>
                            <div>

                                <a href="/bg/news.html">Новини</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/hot-news.html">Акценти</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/news-archive.html">Архив новини и акценти</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/profile-news.html">Национален икономически съвет</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/themes-c383.html">ДП Управление и стопанисване на язовири</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/calendar-news-0.html">Предстоящи събития</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/theme-news-0.html">Актуални теми</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="#">За обществено обсъждане</a>
                            </div>
                            <ul>
                                <li>
                                    <div>
                                        <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                        <a href="/bg/discussion-news-0.html">Проекти за обществено обсъждане</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <img src="@Url.Content("~/themes/default/images/icons/arr-7.gif")" width="3" height="5" alt="" />
                                        <a href="/bg/discussion-news-1.html">Завършили процедури за обществено обсъждане</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/interviews/index/list">Интервюта</a>
                            </div>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/themes-c170.html">Парламентарен контрол</a>
                            </div>
                        </li>
                        <li class="active">
                            <div>

                                <a href="/bg/galleries-0.html">Фотогалерия</a>
                            </div>
                            <ul></ul>
                        </li>
                        <li>
                            <div>

                                <a href="/bg/videos.html">Видеогалерия</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">
//<![CDATA[
$(document).ready(function () {
	$('div#side-menu a').each(function () {
		if ($(this).attr('href') == '#') {
			var iUl = $(this).parent().next('ul:eq(0)');
			if ($(this).parents('li:eq(0)').hasClass('active')) {
				iUl.show();
			} else {
				iUl.hide();
			}
			$(this).click(function () {
				iUl.toggle();
				return false;
			});
		}
	});
});
//]]>
                </script><div class="highlights">
                    <div class="title-4">Акценти</div>
                    <div class="row">
                        <div class="date">28 ноември 2019</div>
                        <a href="/bg/news/ministar-karanikolov-balgarskiyat-iznos-za-sarbiya-e-narasnal-s-nad-10-3851.html?p=eyJ0eXBlIjoiaG90In0=">Министър Караниколов: Българският износ за Сърбия е нараснал с над 10%</a>
                    </div>
                    <div class="butt-1 left">
                        <div class="cr">
                            <div>
                                <a href="/bg/hot-news.html">още от рубриката</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear1">&nbsp;</div>
                </div><div class="gallery">
                    <div id="tabGallery" class="tab active">фотогалерия</div>
                    <div id="tabVideo" class="tab">видео</div>
                    <a href="/bg/galleries-0.html" class="all">Всички</a>
                    <div id="contentGallery" class="content left">
                        <img style="cursor: pointer;" id="prevGallery" src="@Url.Content("~/themes/default/images/icons/arr-3-rtl.gif")" width="12" height="23" alt="" class="arr left" />
                        <div id="cycleGallery" class="left">
                            <div class="cycleGItem left" style="min-height: 190px;">
                                <a href="/bg/gallery-11751.html"><img src="@Url.Content("~/files/galleries/image/list_file-2157-5963.JPG")" alt="" class="left" /></a>
                                <div class="link"><a href="/bg/gallery-11751.html">Министър Караниколов, съпредседател на смесената комисия от българска страна и министърът, отговарящ за иновациите и технологичното развитие на Република Сърбия г-н Ненад Попович подписаха съвместен протокол за задълбочаване на икономическото сътрудничест</a></div>

                            </div>
                            <div class="cycleGItem left" style="min-height: 190px;">
                                <a href="/bg/gallery-11751.html"><img src="@Url.Content("~/files/galleries/image/list_file-2158-5964.JPG")" alt="" class="left" /></a>
                                <div class="link"><a href="/bg/gallery-11751.html">Министър Караниколов  откри българо-сръбски бизнес форум </a></div>

                            </div>
                        </div>
                        <img style="cursor: pointer;" id="nextGallery" src="@Url.Content("~/themes/default/images/icons/arr-3-ltr.gif")" width="12" height="23" alt="" class="arr left" />
                    </div>
                    <div id="contentVideo" class="content" style="display: none;">
                        <div class="left">&nbsp;</div>
                        <a href="/bg/video-219.html"><img src="@Url.Content("~/files/videos/image/listV_video-219-5793.png")" alt="" class="clear" /></a>
                        <div class="linkVideo"><a href="/bg/video-219.html">Министър Караниколов: По-важно е да работим за увеличаването на доходите</a></div>
                    </div>
                </div>
                <script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function () {
	jQuery('div.gallery div.tab').click(function () {
		jQuery('div.gallery div.tab').removeClass('active');
		jQuery(this).addClass('active');
		switch(jQuery(this).attr('id')) {
    		case 'tabGallery' :
    			jQuery('#contentVideo').hide();
        		jQuery('#contentGallery').show();
        		jQuery('div.gallery a.all').attr('href', '/bg/galleries-0.html');
    			break;
    		case 'tabVideo' :
    			jQuery('#contentGallery').hide();
    			jQuery('#contentVideo').show();
    			jQuery('div.gallery a.all').attr('href', '/bg/videos.html');
    			break;
		}
	});
	jQuery('#cycleGallery').cycle({
	    fx:     'scrollHorz',
	    prev:   '#prevGallery',
	    next:   '#nextGallery',
	    timeout: 0,
	    containerResize: 1,
	});
});
//]]>
                </script>
            </div>
        </div>
        <div id="pageRightContentContainer">
            <div class="col2">
                <div class="title-1">Фотогалерия</div>
                <div class="separator-1">&nbsp;</div>
                <div class="text-gray-1">28.11.2019</div>
                <div class="bold">Заместник-министър Иванова: През 2020 г. ще заработят още 3 фонда за дялови инвестиции с размер на публичните средства по ОПИК от около 85 млн. лв.</div>
                <div class="media-cont">
                    <div id="bigImg-0" style="display: none;">
                        <a class="lightbox" href="files/galleries/image/file-2159-5966.jpeg">
                            <img src="@Url.Content("~/files/galleries/image/default_file-2159-5966.jpeg")" width="396" height="291" alt="" />
                        </a>
                        <a href="/galleries/index/download/lang/bg/file/ZmlsZXMvZ2FsbGVyaWVzL2ltYWdlL2ZpbGUtMjE1OS01OTY2LmpwZWc%3D" class="download-pic right">свали снимката</a>
                        <div class="title"><p>Заместник-министър Лилия Иванова по време на откриването на SIMExpo</p></div>
                    </div>
                </div>
                <div class="gallery-thumbs">
                    <a href="#" id="prevThumb"><img src="@Url.Content("~/themes/default/images/icons/arr-3-rtl.gif")" width="12" height="23" alt="" class="arr" /></a>&nbsp;&nbsp;
                    <a id="img-0" class="detailImg" href="#" style="width: 76px; display: inline;"><img src="@Url.Content("~/files/galleries/image/thumb_file-2159-5966.jpeg")" width="76" height="56" alt="" /></a>
                    &nbsp;&nbsp;<a href="#" id="nextThumb"><img src="@Url.Content("~/themes/default/images/icons/arr-3-ltr.gif")" width="12" height="23" alt="" class="arr" /></a>
                </div>
                <div class="separator-1">&nbsp;</div>

                <div class="title-2">Филтрирай по:</div>
                <form action="" id="filterForm" method="post" class="filter">

                    <select name="period" id="period" class="trigger-filter">
                        <option value="" label="Дата">Дата</option>
                        <option value="1" label="24 hours">24 hours</option>
                        <option value="7" label="1 week">1 week</option>
                        <option value="30" label="1 month">1 month</option>
                    </select>
                    <select name="category" id="category" class="trigger-filter">
                        <option value="" label="Категории">Категории</option>
                        <option value="72" label="Фото новини">Фото новини</option>
                    </select><input type="text" name="keywords" id="keywords" value="Ключова дума" class="trigger-filter keywords" />
                    <div class="butt-1 left">
                        <div class="cr">
                            <div>
                                <a href="#" id="filter">Филтър</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="separator-1 clear1">&nbsp;</div>
                <div class="row">
                    <a href="/bg/gallery-11754.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2159-5966.jpeg")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">28.11.2019</div>
                        <div class="title">Заместник-министър Иванова: През 2020 г. ще заработят още 3 фонда за дялови инвестиции с размер на публичните средства по ОПИК от около 85 млн. лв.</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11754.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11746.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2156-5961.jpg")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">28.11.2019</div>
                        <div class="title"> Зам.-министър Борисов участва в отбелязването на 50 г. българско кисело мляко в Япония</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11746.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11751.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2157-5963.JPG")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">28.11.2019</div>
                        <div class="title">България и Сърбия подписаха съвместен протокол за задълбочаване на икономическото сътрудничество</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11751.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11740.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2155-5959.jpg")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">25.11.2019</div>
                        <div class="title">Зам.-министър Борисов: Стойността на разрешения износ и изходящ трансфер в отбранителната индустрия за първите 10 месеца на 2019 г. е около 850 милиона евро</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11740.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11735.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2153-5955.jpg")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">20.11.2019</div>
                        <div class="title">Министерството на икономиката и Китай изявиха желание за ефективно сътрудничество в областта на индустриалните зони</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11735.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11729.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2152-5953.JPG")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">19.11.2019</div>
                        <div class="title">Министър Караниколов откри инвестиционен форум с участието на над 150 представители на фирми от Турция</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11729.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11719.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2151-5950.jpg")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">18.11.2019</div>
                        <div class="title"> Министър Караниколов се срещна с Херо Мустафа, извънреден и пълномощен посланик на САЩ</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11719.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11711.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2149-5946.jpg")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">13.11.2019</div>
                        <div class="title">Възможностите пред българския бизнес за сътрудничество с Албания обсъдиха зам.-министърът на икономиката Лилия Иванова и колегата й Етиен Джафай</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11711.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11708.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2148-5944.jpg")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">11.11.2019</div>
                        <div class="title">Министерството на икономиката и Световната банка ще си партнират за подобряване на иновационното развитие и дигитализацията на българската икономика</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11708.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="row">
                    <a href="/bg/gallery-11696.html">

                        <img src="@Url.Content("~/files/galleries/image/thumbList_file-2144-5936.JPG")" alt="" class="left" />

                    </a>
                    <div class="content">
                        <div class="date">07.11.2019</div>
                        <div class="title">Зам.-министър Иванова: За последната година са осигурени близо 150 млн. лв. за предприемачи, чрез различни схеми за финансово подпомагане</div>
                        <div class="butt-1 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/gallery-11696.html">още</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear1"></div>
                    </div>
                </div>
                <div class="clear1">&nbsp;</div>
                <div id="pagination">
                    <span class="prev">Предишен</span>
                    <span>1</span>
                    <a href="/bg/galleries-2.html">2</a>
                    <a href="/bg/galleries-3.html">3</a>
                    <a href="/bg/galleries-4.html">4</a>
                    <a href="/bg/galleries-5.html">5</a>
                    <a href="/bg/galleries-6.html">6</a>
                    <a href="/bg/galleries-7.html">7</a>
                    <a href="/bg/galleries-8.html">8</a>
                    <a href="/bg/galleries-9.html">9</a>
                    <a href="/bg/galleries-10.html">10</a>
                    <a href="/bg/galleries-2.html" class="next">Следващ</a>
                </div>
                <script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function() {
    jQuery('div#pagination').find('a').click(function () {
        jQuery('#filterForm').attr('action', jQuery(this).attr('href'));
        jQuery('#filterForm').submit();
        return false;
    });
});
    //]]>
                </script>

            </div>
            <div class="col3">

                <div class="box-2 calendar">
                    <div class="title">Предстоящи събития</div>
                    <!--<div class="butt-2 left"><div class="cr"><div>
                               </div></div></div>-->
                    <div class="clear1"></div>
                    <div class="text">
                        <span style="color:#fff">18.11.2019</span><br />
                        <a href="/bg/calendar-news-view/regionalni-konsultacii-za-podgotovkata-na-nacionalna-strategiya-za-malkite-i-srednite-predpriyatiya-za-3842-1.html">
                            Регионални консултации за подготовката на Национална стратегия за малките и средните предприятия за периода 2021-2027 г.
                        </a>
                    </div>
                    <div class="butt-1 left">
                        <div class="cr">
                            <div>
                                <a href="/bg/calendar-news-1.html">
                                    всички
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear1"></div>
                </div><div class="box-3 ">
                    <div class="title-2">Регистри</div>
                    <ul class="registersWidget">
                        <li>
                            <a href="/bg/themes/publichen-registar-na-proizvoditelite-vnositelite-i-licata-koito-vavejdat-na-teritoriyata-na-stranat-2036-395.html">
                                Публичен регистър на производителите, вносителите и лицата, които въвеждат на територията на страната от друга държава - членка на Европейския съюз, на електронни цигари и/или контейнери за многократно пълнене
                            </a>
                            <div class="separator-1">&nbsp;</div>
                        </li>
                        <li>
                            <a href="/bg/themes/publichen-registar-na-poluchilite-udostovereniya-za-deinosti-s-destilacionni-saorajeniya-po-zakona-za-v-1843-395.html">
                                Публичен регистър на получилите удостоверения за дейности с дестилационни
                                съоръжения по Закона за виното и спиртните напитки
                            </a>
                            <div class="separator-1">&nbsp;</div>
                        </li>
                        <li>
                            <a href="/bg/themes/registar-na-proizvoditelite-na-etilov-alkohol-ot-zemedelski-proizhod-destilati-i-spirtni-napitki-po-606-395.html">
                                Регистър на производителите на етилов алкохол от земеделски произход, дестилати и спиртни напитки по Закона за виното и спиртните напитки
                            </a>
                            <div class="separator-1">&nbsp;</div>
                        </li>
                    </ul>
                    <div class="clear2"></div>
                </div>
                <div class="box-2 contacts">
                    <div class="title">Пишете ни</div>
                    <div class="butt-2 left">
                        <div class="cr">
                            <div>
                                <a href="mailto:e-docs@mi.government.bg">e-docs@mi.government.bg</a>
                            </div>
                        </div>
                    </div>

                    <div class="text">
                        Министерство на икономиката<br />
                        ул. "Славянска" № 8<br />
                        ЕИК 176789453
                    </div>

                    <div class="butt-2 left">
                        <div class="cr">
                            <div>
                                тел. централа: +359 2 940 7001
                            </div>
                        </div>
                    </div>
                    <div class="clear1"></div><br />
                    <div class="butt-2 left">
                        <div class="cr">
                            <div>
                                факс: +359 2 9872190; 02 9819970
                            </div>
                        </div>
                    </div>
                    <div class="clear1"></div>
                </div>
            </div>
            <div class="clear3">&nbsp;</div>
        </div>
    </div>

</div>

