<div id="page">
    <div id="flash-box">
        <div class="main">
            <div class="shadow">
                <img src="@Url.Content("~/Images/title-accents-bg.png")" alt="" class="left home-events" />
                <div class="cycle">
                    <div id="shadow-1" class="shadow-block">
                        <div class="image">

                            <img src="@Url.Content("~/Images/middle_news-3851-5962.JPG")" width="350" height="263" alt="Министър Караниколов: Българският износ за Сърбия е нараснал с над 10%" class="right" />
                        </div>
                        <div class="title"><a href="/bg/news/ministar-karanikolov-balgarskiyat-iznos-za-sarbiya-e-narasnal-s-nad-10-3851.html?p=eyJ0eXBlIjoiaG90In0=">Министър Караниколов: Българският износ за Сърбия е нараснал с над 10%</a></div>
                        <div class="text">
                            България и Сърбия подписаха съвместен протокол за задълбочаване на икономическото сътрудничество
                            За първите осем месеца на настоящата година българският износ за Сърбия е нараснал с 10,3% и достига 437 млн.евро. Това заяви министърът на икономиката Емил Караниколов, който откри българо-сръбски бизнес форум с участието на близо 100 компании от секторите земеделие, строителство, ИКТ, туризъм, х ...
                        </div>
                        <div class="butt-5 left">
                            <div class="cr">
                                <div>
                                    <a href="/bg/news/ministar-karanikolov-balgarskiyat-iznos-za-sarbiya-e-narasnal-s-nad-10-3851.html?p=eyJ0eXBlIjoiaG90In0=">прочети повече</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col1">
        <div class="imgHolder"><img src="@Url.Content("~/Images/title-news-bg.gif")" alt="" /></div>

        <div class="content">
            <div style="float:left;margin-right:15px;">
                <a href="/bg/news/zamestnik-ministar-ivanova-prez-2020-g-shte-zarabotyat-oshte-3-fonda-za-dyalovi-investicii-s-razmer-na-p-3852.html">
                    <img src="@Url.Content("~/Images/home_news-3852-5965.jpeg")"
                         alt="Заместник-министър Иванова: През 2020 г. ще заработят още 3 фонда за дялови инвестиции с размер на публичните средства по ОПИК от около 85 млн. лв." class="pic" />
                </a>
            </div>
            <div style="float:left;width:312px;">

                <div class="date">
                    28.11.2019
                </div>
                <a href="/bg/news/zamestnik-ministar-ivanova-prez-2020-g-shte-zarabotyat-oshte-3-fonda-za-dyalovi-investicii-s-razmer-na-p-3852.html" class="title">Заместник-министър Иванова: През 2020 г. ще заработят още 3 фонда за дялови инвестиции с размер на публичните средства по ОПИК от около 85 млн. лв.</a>
                <div class="butt-1 left">
                    <div class="cr">
                        <div>
                            <a href="/bg/news/zamestnik-ministar-ivanova-prez-2020-g-shte-zarabotyat-oshte-3-fonda-za-dyalovi-investicii-s-razmer-na-p-3852.html">още</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">

            <div style="float:left;margin-right:15px;">
                <a href="/bg/news/zam-ministar-borisov-uchastva-v-otbelyazvaneto-na-50-g-balgarsko-kiselo-mlyako-v-yaponiya-3850.html">
                    <img src="@Url.Content("~/Images/home_news-3850-5960.jpg")" alt="Зам.-министър Борисов участва в отбелязването на 50 г. българско кисело мляко в Япония" class="pic" />
                </a>
            </div>
            <div style="float:left;width:312px;">


                <div class="date">
                    27.11.2019
                </div>
                <a href="/bg/news/zam-ministar-borisov-uchastva-v-otbelyazvaneto-na-50-g-balgarsko-kiselo-mlyako-v-yaponiya-3850.html" class="title">Зам.-министър Борисов участва в отбелязването на 50 г. българско кисело мляко в Япония</a>
                <div class="butt-1 left">
                    <div class="cr">
                        <div>
                            <a href="/bg/news/zam-ministar-borisov-uchastva-v-otbelyazvaneto-na-50-g-balgarsko-kiselo-mlyako-v-yaponiya-3850.html">още</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" style="border:0px">

            <div style="float:left;margin-right:15px;">
                <a href="/bg/news/zam-ministar-borisov-stoinostta-na-razresheniya-iznos-i-izhodyasht-transfer-v-otbranitelnata-industriya-3848.html">
                    <img src="@Url.Content("~/Images/home_news-3848-5958.jpg")"
                         alt="Зам.-министър Борисов: Стойността на разрешения износ и изходящ трансфер в отбранителната индустрия за първите 10 месеца на 2019 г. е около 850 милиона евро" class="pic" />
                </a>
            </div>
            <div style="float:left;width:312px;">


                <div class="date">
                    25.11.2019
                </div>
                <a href="/bg/news/zam-ministar-borisov-stoinostta-na-razresheniya-iznos-i-izhodyasht-transfer-v-otbranitelnata-industriya-3848.html" class="title">Зам.-министър Борисов: Стойността на разрешения износ и изходящ трансфер в отбранителната индустрия за първите 10 месеца на 2019 г. е около 850 милиона евро</a>
                <div class="butt-1 left">
                    <div class="cr">
                        <div>
                            <a href="/bg/news/zam-ministar-borisov-stoinostta-na-razresheniya-iznos-i-izhodyasht-transfer-v-otbranitelnata-industriya-3848.html">още</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col2 ">
        <img src="@Url.Content("~/Images/title-discussion-bg.gif")" alt="" />

        <div class="content">
            <div class="date">27.11.2019</div>

            <a href="/bg/discussion-news/proekt-na-postanovlenie-na-ministerskiya-savet-za-izmenenie-i-dopalnenie-na-naredbata-za-usloviyata-i-3849-m0-a0-1.html" class="title">Проект на Постановление на Министерския съвет за изменение и допълнение на Наредбата за условията и реда за вписване в регистъра и за изискванията към дейността на лицата, които осъществяват дейност по добиване, преработване и сделки с благородни метали</a>
            <div class="text">В проекта отпада изискването при подаването на документи за регистрация да се прилага регистрационно удостоверение или карта за идентификация, удостоверяващи код по БУЛСТАТ и договорът за регистрираните дружества по Закона за задълженията и договорите. Детайлизирани са разпоредби, касаещи издава ...</div>
        </div>
    </div>
   
    <div class="clear3">&nbsp;</div>
</div>